/*
 Theme Name: Weta Child
 Theme URI:
 Description: Weta Child Theme
 Author: Your Name
 Author URI: http://www.yourdomain.com/
 Template: weta
 Version: 1.0
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags: Weta Child Theme
*/

/*
You can start adding your own styles here. Use !important to overwrite styles if needed. */


pre {
    font-family: arimo, sans-serif;
    color: #888;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    line-height: 1.5em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.front-page-main,
.front-content .widget_text,
.front-fullwidth .widget_text {
    padding: 25px;
}

#front-fullwidth-top .widget {
    padding: 0;
}
#front-fullwidth-top .widget img {
    width: 100%;
}

@media screen and (min-width: 860px) {
    .front-page-main,
    .front-content .widget_text,
    .front-fullwidth .widget_text {
        padding: 50px;
    }

    .sidebar-footer:first-of-type:nth-last-of-type(n + 3),
    .sidebar-footer:first-of-type:nth-last-of-type(n + 3) ~ div {
        width: 23%;
        margin: 0 2.66% 0 0;
    }

    #footer-four:last-of-type {
        margin-right: 0;
    }
}


.front-fullwidth div[data-wpcr3-content] {
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    .front-page-main.hentry {
        padding-left: 0;
        padding-right: 0;
    }
    .home #colophon .footer-wrap {
        max-width: 1200px;
    }

}